.container {
    margin: 50px;
    box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.56);
    -webkit-box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: -1px 10px 35px 0px rgba(0,0,0,0.56);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


h1 {
    margin-left: 40px;
}
.container__to {
    margin-top: 10px;
}

.article {
    border-bottom: 3px solid gray;
    margin: 0px 40px;
}
.container__bottom {
    margin-top: 20px;
}

button {
    margin: 0 100px 10px;
    padding: 0 450px;
    height: 35px;
    color: #ffffff;
    background-color:#A149FA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}