* {
    box-sizing: border-box;
}

.card {
    width: 50%;
    min-width: 300px;
    margin: 70px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    border-radius: 3mm;
    padding: 20px;
}

p:nth-child(1){
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
}